
<div>

    <h2>About MovieGenius</h2>
    <p>
        MovieGenius is a website for getting information about the latest movies coming out to theaters.
        It runs off an REST API from The Movie Database. It uses ASP.NET MVC, C#, Bootstrap, Jquery, HTML,
        CSS.

    </p>

    <br />

    <p>
        Created By:
        <br />
        Ben Mcleod
    </p>

    <br />

    <a href="https://github.com/benmcleod/MovieGenius2">https://github.com/benmcleod/MovieGenius2</a>

    <br />
    <br />
    <br />
    <br />

    <a class="tmdbLogo" href="https://www.themoviedb.org/">
        <img src="~/Images/tmdb-logo.png" />
    </a>

    <br />
    <br />
    <br />
</div>
